body {
  margin: 0 auto;
  width: 500px;
  background-image: url("../background.jpg");
}

div {
  margin: 30px;
}

.user-hand {
  display: flex;
}

.computer-hand {
  display: flex;
}

.button {
  width: 100px;
  height: 50px;
  margin: 5px;
}

.computer-title,
.user-title,
.start-value,
.result-head {
  font-weight: bold;
  color: white;
}
